/*
    defult :  font-family:popin !!!
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/


*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;

}
a{
    text-decoration:none;
    color:black;
}
.sadi{
    width:100%;
    background:red;
    height:300px;
    margin-right:3.33%;
    margin-top:10px;
    float:left;

}
@media(min-width:400px) and (max-width:719px)
{
    .sadi{
        background:black;
        width:100%;
    }
    
}
@media(min-width:720px) 
{
    .sadi{
        background:blue;
        width:30%;
    }
}
@media(min-width:1025px) {
    .sadi{
        background:yellow;
        width:30%;
    }
}
 .img-fluid{
     width:100%;
 }
 /* width */
::-webkit-scrollbar {
  width: 15px;  
  position:absolute;
  
} 
/* Track */
::-webkit-scrollbar-track {
  background: 0 0;
  position:absolute;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(189, 189, 189, 0.4);
  border-radius: 30px;
  position:absolute;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(199, 13, 13);
  position:absolute;
} 
.grid-item {
    float: left;
    width: 32.3333%;
    height: auto;
    position:relative;
    
}
.grid-sizer{
    width:32.3333%;
}

.grid-item--width2{
    width: 32.33333%; 
}
#zoom_05{
    width: 500px;
}
p::selection{ 
    color:red; 
}
.pt-5{
    height:5000px;
} 
.div ul li:nth-child(2n){
    background: #000;
    color:#fff;
}
body {
    /* Set "my-sec-counter" to 0 */
    counter-reset: added;
    overflow:scroll; 
  }
  
  .position{
      background: cyan;
  }
  .position div{
      width:100px;
      height:100px;

    
  }
  .red{
      background: red;
  }
  .blue{
      background: blue;
  }
  .black{
      background: black;
  } 
  td{
      border:1px solid red;
      font-size: 34px;
  }
.over{
    width: 200px;
    height: 100px;
    border:1px solid red;
    overflow-y: scroll;
  
}
.over2{
    width: 200px;
    height: 100px;
    border:1px solid blue;
}