/*
    defult :  font-family:popin !!!
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/


*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;

}
a{
    text-decoration:none;
    color:black;
}
.sadi{
    width:100%;
    background:red;
    height:300px;
    margin-right:3.33%;
    margin-top:10px;
    float:left;

}
@media(min-width:400px) and (max-width:719px)
{
    .sadi{
        background:black;
        width:100%;
    }
    
}
@media(min-width:720px) 
{
    .sadi{
        background:blue;
        width:30%;
    }
}
@media(min-width:1025px) {
    .sadi{
        background:yellow;
        width:30%;
    }
}
 .img-fluid{
     width:100%;
 }
 /* width */
::-webkit-scrollbar {
  width: 5px; 
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(189, 189, 189, 0.4);
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body{
    background:black;
}
.grid-item {
    float: left;
    width: 32.3333%;
    height: auto;
    position:relative;
    
}
.grid-sizer{
    width:32.3333%;
}

.grid-item--width2{
    width: 32.33333%; 
}
#zoom_05{
    width: 500px;
}
p::selection{ 
    color:red;
    
}